$color-1: #FFEDCD;
$color-2: #E2F0DF;
$color-3: #70908B;
$color-4: #C4C4C4;
$color-5: #195557;
$color-6: #C2CCCA;
$color-7: #EAEEEF;
$color-8: #F8F8F8;

$font-1: 'Raleway', sans-serif;
$font-2: 'Cormorant Infant', serif;

$breakpoints: (
  'xs': 480px,
  'sm': 760px,
  'md': 1020px,
  'lg': 1280px,
  'xl': 1590px,
  'xxl': 1800px
);
